
@font-face{
	font-family: "ActaLight";
	src:url('../fonts/ActaDeck-Light.otf');
}

@font-face{
	font-family:"ActaBook";
	src:url('../fonts/ActaDeck-Book.otf');
}

@font-face{
	font-family:"ProximaBold";
	src:url('../fonts/ProximaNova-Bold.ttf');
}

@font-face{
	font-family:"ProximaReg";
	src:url('../fonts/ProximaNova-Reg.ttf');
}


/* = = = = = = = STRUCTURE = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

body{
	background:rgb(128,135,155);
	margin:0px;
	font-size:14px;
}

.wrapper{
	width:980px;
	margin:0 auto;
/*	background:yellow;*/
}

.subNav, h1, .box, .rule{
	-webkit-box-shadow:0px 0px 5px rgba(0,0,0,0.3);
}


/* ----- NEW NAV -----------*/
nav.mainNav{
	width:975px;
	height:72px;
	margin:0 auto ;
	border-right:1px solid rgba(70,70,70,1.0);
	border-left:1px solid rgba(70,70,70,1.0);
	border-bottom:1px solid rgba(70,70,70,1.0);
	background-color:rgba(0,0,0,0.75);
	-webkit-transition: all 0.2s ease-in;
	   -moz-transition: all 0.2s ease-in;
	    -ms-transition: all 0.2s ease-in;
	     -o-transition: all 0.2s ease-in;
	        transition: all 0.2s ease-in;
			margin-bottom:36px;
	
}

nav.mainNav:hover{
	background-color:rgba(0,0,0,0.85);
}

nav.mainNav a.home{
	height:71px;
	/*float:left;*/
	width:77px;
	/*background-color:green;*/
	padding:0px;
}

nav.mainNav a.home img{
	opacity:0.7;
	padding:6px 2px;
	-webkit-transition: all 0.2s ease-in;
	   -moz-transition: all 0.2s ease-in;
	    -ms-transition: all 0.2s ease-in;
	     -o-transition: all 0.2s ease-in;
	        transition: all 0.2s ease-in;
	
	
}

nav.mainNav a.home img:hover{
	opacity:1.0;
	-webkit-transform: rotate(-10deg);
	   -moz-transform: rotate(-10deg);
	    -ms-transform: rotate(-10deg);
	     -o-transform: rotate(-10deg);
	        transform: rotate(-10deg);
	
}

nav.mainNav a{
	float:left;
	text-align:center;
	height:24px;
	/*background-color:yellow;*/
	padding-top:12px;
	color:rgba(210,210,210,1.0);
	text-decoration:none;
	text-transform:uppercase;
	font-size:12px;
	font-family:ProximaBold;
	font-weight:bold;
	letter-spacing:1px;
	border-right:1px solid rgba(70,70,70,1.0);
	-webkit-transition: all 0.1s ease-in;
	   -moz-transition: all 0.1s ease-in;
	    -ms-transition: all 0.1s ease-in;
	     -o-transition: all 0.1s ease-in;
	        transition: all 0.1s ease-in;
	
}


nav.mainNav a:hover{
	color:rgba(230,230,230, 1.0);
	background-color:rgba(100,100,100,1.0);
	text-decoration:none;
}

nav.mainNav a.column1{
	width:90px;
	/*background-color:red;*/
	border-right:1px solid rgba(70,70,70,1.0);
	
}

.column1{
	width:90px;
	float:left;
	
}

.top-row{
	border-bottom:1px solid rgba(70,70,70,1.0);
}

nav.mainNav a.column2{
	
}

.column2{
	width:110px;
	float:left;
}

.column3{
	width:115px;
	float:left;
	/*background-color:orange;*/
}

.column4{
	width:206px;
	float:left;
	/*background-color:green;*/
}

.column5{
	width:59px;
	/*background:purple;*/
	float:left;
	height:72px;
	border-right:1px solid rgba(70,70,70,1.0);
}

.column6{
	width:69px;
	height:72px;
	border-right:1px solid rgba(70,70,70,1.0);
	/*background:blue;*/
	float:left;
}

.column7{
	float:left;
	position:relative;
}


.column7 input[type="text"]{
	font-family:ProximaReg;
	font-size:1em;
	color:rgb(100,100,100);
	background-color:rgb(30,30,30);
	border:1px solid rgb(50,50,50);
	-webkit-transition: all 0.2s ease-in-out;
	position:absolute;
	top:20px;
	padding:0.25em;
	left:20px;
	-webkit-box-shadow: inset 0px 0px 10px rgb(0,0,0);
	width:180px;
}

.column7 input[type="text"]:focus{
	background-color:rgb(250,250,250);
	-webkit-box-shadow: inset 0px 0px 10px rgb(200,200,200);
}

/*- - - - end MAIN NAV - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/*- - - - - subNav - - - - - - - - - - - - - - - - - - - - - -*/

.subNav{
	width:155px;
	float:left;
	
}

.subNav ul{
	padding:0px;
	list-style:none;
	margin:0px;
}

.subNav ul li{
	border-bottom:1px solid rgb(120,10,10);
}


.subNav ul li a:link{
	display:block;
	text-decoration:none;
	padding:0.75em 0.75em 0.75em 1em;
	color:rgb(255,255,255);
	font-size:0.7em;
	line-height:1.5em;
	letter-spacing:2px;
	text-transform:uppercase;
	-webkit-transition:all 0.2s ease-out;
}

.subNav ul li a:visited{
	color:rgb(255,255,255);
}

.subNav ul li a:hover{
	background:rgb(113,4,4);
}

/* - - end sub nav - - - - - - - - - - - - - - - - - - - - - - - -*/




/*- - - - -link to top - - - - - - - - - - - - - - - - - - - - - -*/

#top{
	width:155px;
	background:rgba(30,30,30,0.2);
	position:fixed;
	bottom:-4em;
	-webkit-transition:all 0.2s ease-in-out;

	
}

.active{
	bottom:0px;
}

#top:hover{
	background:rgb(30,30,30,1.0);
}

#top a:link{
	font-family:ProximaBold;
	font-size:1.5em;
	padding:0.25em;
	display:block;
	text-align:center;
	text-decoration:none;
	color:rgba(255,255,255,0.5);
}

#top a:visited{
	color:rgba(255,255,255,0.5);
}

#top a:hover{
	color:rgba(255,255,255,0.9);
}

/*- end link to top - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/


.mainContainer{
	width:816px;
	float:right;
	overflow:hidden;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

.box{
	width:816px;
	background:rgb(250,250,250);
	margin:0px 0px 9px 0px;
	position:relative;
}

.heroImage{
	background:rgb(200,200,200);
}


.heroImage img{
	width:816px;
	height:500px;
	margin-bottom:0px;
}

.atmospheric{
	padding:0px;
}
.atmospheric img{
	width:816px;
	height:250px;
	background:rgb(220,220,220);
	margin:0px;
	display:inline-block;
	
}

.box ul{
	margin:0px;
	padding:1em;
	list-style:none;
}

.box p{
	margin:0px;
	padding:1em;
	line-height:1.6em;
}

.statement{
	background:rgb(30,30,30);
	color:rgb(230,230,230);
}


.alumniFeature ul, .facultyNews ul{
	-webkit-column-count:2;
	-webkit-column-gap:2em;
	/*background:yellow;*/
	padding:1em 1em 0em 1em;

}

.alumniFeature ul.alumn, .facultyNews ul.facultyStory{
	-webkit-column-count:1;
/*	background:orange;*/
	margin:0px;
	padding:0px;
}

.alumniFeature ul.alumn li.name, .facultyNews ul.facultyStory li.facultyHeadline{
	border-bottom:none;
	font-size:1.25em;
	margin-bottom:0px;
	color:rgb(100,100,100);
	
}

.alumniFeature ul.alumn li.description, .facultyNews ul.facultyStory li.story{
	font-family:ProximaReg;
	font-size:1em;
	color:rgb(30,30,30);
	padding:0.5em 0em;
	margin-bottom:2em;
	line-height:1.45em;
}


.alumniFeature ul li, .facultyNews ul li{
	border-bottom:1px dotted rgb(30,30,30);
	margin:0px;
}


.facultyNews ul ul:nth-child(2){
	margin-bottom:10px;
}

.departmentList{
	background:rgb(30,30,30);
	color:rgb(250,250,250);
	margin-bottom:0px;
	padding-bottom:1.5em;
}


/* degrees */
.degrees ul{
	float:left;
	width:48%;
	padding:0.5em;
	font-family:ActaBook;
}

.degrees ul li:first-child a:link{
	text-decoration:none;
	display:block;
	padding-top:0.75em;
	padding-bottom:0.75em;
	/*background:yellow;*/
	color:rgb(200,200,200);
	-webkit-transition:all 0.2s ease-in;
}

.degrees ul li:first-child a:visited{
	color:rgb(200,200,200);
}

.degrees ul li:first-child a:hover{
	color:rgb(180,180,180);
}

.degrees ul li:first-child{
	font-size:4em;
	text-align:center;
	color:rgb(200,200,200);
	border-bottom:1px solid rgb(200,200,200);
	padding:0.25em;
}

.degrees ul li:last-child{
	font-family:ProximaReg;
	padding-bottom:1em;
	margin-top:1em;
}


.links{
	background:rgb(30,30,30);
	font-family:ActaLight;
	font-size:1.75em;
}

.links ul li{
	border-bottom:1px dashed rgb(10,10,10);
}
.links ul li a:link{
	color:rgb(230,230,230);
	text-decoration:none;
	display:block;
	text-align:center;
	padding:0.33em;
	-webkit-transition: all 0.2s ease-in;
	
}

.links ul li a:visited{
	color:rgb(230,230,230);
}

.links ul li a:hover{
	color:rgb(30,30,30);
	background:rgb(230,230,230);
}



/* - - - - COLOR - - - - - - - - - - - - - - - - - - - - - - - - */

#architecture nav.subNav,#architecture header h1,#architecture .rule{ background:rgba(164,27,27,1.0);} 
#architecture ::selection{ background:rgba(164,27,27,1.0); color:rgba(250,250,250,1.0); }


#fav nav.subNav,#fav header h1,#fav .rule{ background:rgba(77,32,145,1.0);}
#fav ::selection{ background:rgba(77,32,145,1.0); color:rgba(250,250,250,1.0);}
#fav .subNav ul li a:hover{ background:rgb(59,24,111); }
#fav .subNav ul li{ border-bottom:1px solid rgb(59,24,111);}
#fav .rule{width:64.5%; }

#textiles nav.subNav, #textiles header h1, #textiles .rule{ background:rgba(255,143,8,1.0);}
#textiles ::selection{ background:rgba(255,143,8,1.0); color:rgba(250,250,250,1.0); }
#textiles .subNav ul li a:hover{ background:rgb(211,115,0); }
#textiles .subNav ul li{ border-bottom:1px solid rgb(211,115,0);}
#textiles .rule{width:85.5%;}


/* - - - TYPOGRAPHY - - - - - - - - - - - - - - - - - - - - - -  */

.box p{
	font-family:ProximaReg;
	font-size:1.1em;
}

.box ul li{
	font-family:ActaBook;
}



.quote{
	text-indent:-0.45em;
}

.box h3{
	background:rgb(240,240,240);
	font-family:ProximaReg;
	font-size:1.1em;
	font-weight:normal;
	margin-top:0px;
	margin-bottom:0px;
	padding:0.5em 0.5em 0.5em 1em;
	color:rgb(150,150,150);
	border-bottom:1px solid rgb(220,220,220);

}

.subNav, h1{
	font-family:ProximaBold;
}

header h1{
	display:inline-block;
	padding:0.5em;
	text-transform:uppercase;
	color:rgb(250,250,250);
	font-size:1.45em;
	letter-spacing:0.125em;
	margin:0px;
}

header{
	display:block;

	margin-bottom:9px;
	position:relative;
}

.rule{
	display:inline-block;
	position:absolute;
	width:78%;
	right:0px;
	bottom:0px;
	height:9px;
	
}

/*header:after{
	content:" s";
	display:block;
	background-color:blue;
	width:75%;
	bottom:0px;
	position:static;
	right:0px;
	float:right;
	
	
}*/

.statement{
	
}

.statement p{
	font-family:ActaLight;
	
}

.statement p:nth-child(2){
	font-size:0.75em;
	margin-top:0.75em;
	color:rgb(120,120,120);
	
}

.statement p:first-child{
	font-size:1.75em;
	line-height:1.45em;
	color:white;
	margin-top:0px;
	margin-bottom:0px;
	
	width:90%;
}

.quote p:first-child{
	padding-bottom:0em;
}

.quote p:nth-child(2){
	font-family:ProximaReg;
	font-size:1.125em;
	margin-top:0px;
	margin-left:1.25em;
	padding-bottom:2.5em;
}

.ingredients{
	position:absolute;
	top:0px;
	right:0px;
	left:0px;
	bottom:0px;
	width:100%;
	height:100%;
	
	background:rgba(0,0,0,0.85);
	opacity:0.0;
	-webkit-transition:all 0.2s ease-in;
	
	
	display:none;
}

.box .ingredients p{
	color:rgb(230,230,230);
	font-family:helvetica;
	font-size:18px;
	line-height:28px;
	width:75%;
	text-align:left;
	margin:0px auto;
	float:none;
}

.box:hover .ingredients{
	opacity:1.0;
	-webkit-transition-property:opacity;
	-webkit-transition-delay: 1.75s;
}

.studentProfile img, .facultyProfile img{
	max-width:40%;
	max-height:40%;
	padding:1em;
	 -webkit-filter: grayscale(100%);
}

.studentProfile p{
	/*background:yellow;
	border-bottom:1px solid green;*/
}
.studentProfile p:nth-child(4){
	padding:0em 1em 1em 1em;
}

.studentProfile a:link{ color:rgba(164,27,27,1.0); text-decoration:none; -webkit-transition:all 0.2s ease-in;}
.studentProfile a:visited{ color:rgba(164,27,27,1.0); }
.studentProfile a:hover{ color:rgb(113,4,4); }




/*department list*/

.departmentList p{
	text-align:center;
	font-family:ProximaReg;
	font-size:1.5em;
	line-height:2em;
}

 
.departmentList p a:after{
	content: " • ";
	display:inline-block;
	padding-left:0.5em;
	padding-right:0.5em;
	color:rgb(60,60,60);
}
.departmentList p a:link{
	color:rgb(230,230,230);
	text-decoration:none;
	
}

.departmentList p a:visited{
	color:rgb(250,250,250);
}

.departmentList ul{
	text-align:center;
}

.departmentList ul li{
	float:left;
	text-align:center;
}

/*.departmentList ul li:after{
	content:" .";
	display:inline;
}

.departmentList ul li:before{
	content:" ";
	display:inline;
}

*/


.right p{
	float:right;
	width:50%;
}

.right img{
	float:left;
}

.left p{
	float:left;
	width:50%;
}

.left img{
	float:right;
}


.gallery{
	overflow:hidden;
}

.gallery img{
	width:816px;
	height:500px;
	float:left;
	
}


.galleryContainer{
	width:816px;
	height:500px;
	background:rgb(220,220,220);
}


.galleryContainer ul{
	padding:0em;
}

.requestInfo{
	height:340px;
}
.requestInfo p{
	float:left;
	width:45%;
}

.requestInfo .contact{
	float:left;
	position:absolute;
	top:150px;
	border-top:1px solid rgb(220,220,220);
	width:47%;
}

.requestInfo ul{
	margin-bottom:0px;
	/*background:yellow;*/
	padding-bottom:0px;
	width:42.5%;
	float:left;
}

.requestInfo ul li{
	font-family:ProximaReg;
	font-size:13px;
	line-height:20px;
	color:rgb(140,140,140);
}

.requestInfo ul li:first-child{
	font-family:ProximaBold;
}
/* - - - - - FORMS -- - - - -- - - - - - - - - - - - - - - - - - - - - - -*/
.box form{
	width:50%;
	/*background:rgba(100,100,100, 0.2);*/
	margin:0px auto;
	float:right;
	padding-top:0.75em;
	
}

.box form input[type="text"]{
	font-family:ProximaReg;
	font-size:1em;
	color:rgb(140,140,140);
/*	background-color:rgb(40,40,40);*/
	background-color:rgb(245,245,245);
	border:1px solid rgb(170,170,170);
	-webkit-transition: all 0.2s ease-in-out;
	padding:0.5em;
	-webkit-box-shadow: inset 0px 0px 10px rgb(180,180,180);
	
	margin-right:9px;
	margin-bottom:9px;
	
}

.box form input[type="text"]:focus{
	background:rgb(250,250,250);
	-webkit-box-shadow:0px 0px 10px rgb(180,180,180);
	color:rgb(80,80,80);
}

#firstname, #lastname, #email, #phone{
	width:42%;
}

#street{
	width:49%;
}
 #city{
	 width:35%;
	
 }

#zip{
	width:15%;
}

select{
	-webkit-appearance:none;
	background:rgb(230,230,230);
	border:1px solid rgb(170,170,170);
	background-image:url(../img/dropdown.png);
	background-repeat:no-repeat;
	background-position:right;
	
	-webkit-border-radius:0px;
	-webkit-box-shadow:none;
	
	padding:0.5em 1em 0.5em 0.5em;
	font-family:ProximaReg;
	border-radius:0px;
	font-size:1em;
	color:white;
	
	color:rgb(100,100,100);
	margin-bottom:36px;
	margin-top:9px;
}


/* - - - -  - - - - - - - - - - - - - */


@media (max-width: 480px) {
	.subNav{
		display:none;
	}
	.box{
		width:90%;
		margin:4px auto;
	}
	.wrapper{
		width:100%;
	}
	
	header{
		width:90%;
		margin:4px auto;
	}
	.rule{
		width:40%;
	}
	
	.mainContainer{
		width:100%;
		margin:0 auto;
	}
	
	.atmospheric img{
		max-width:100%;
		max-height:20%;
	}
	
	.box img{
		max-width:100%;
		height:auto;
	}
	
	.box ul{
		-webkit-column-count:1;
	}
	
	.mainNav{
		display:none;
	}
}


